<ion-header>
  <ion-toolbar>
    <ion-title>
      <h2 style="text-align:center" ><i><b>My Books</b></i></h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-image: url('../../assets/icons/Logo-image.png');">
<ion-list>
  <ion-item *ngFor = "let item of books"  class="item item-block" item-start>
    <div class="item-inner">
      <div class="input-wrapper">
        <h5>{{item.title}}</h5>
        <p>{{item.borrowDate}}</p>
      </div>
    </div>
    <div style="margin-left: auto;">
    <ion-button item-end (click)="return(item.isbn)">
      <span class="button-inner">Return</span>
    </ion-button>
    </div>
  </ion-item>
</ion-list>
</ion-content>