<ion-header>
  <ion-toolbar>
    <ion-title>
      Available Books
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-icon slot="start" color="medium" name="book"></ion-icon>
  <ion-label>Ionic Documentation</ion-label>
  <ion-input type="text" [(ngModel)]="isbn" placeholder="Enter Isbn"></ion-input>
  <ion-button (click)=scan(isbn)></ion-button>
</ion-content> -->
<ion-content>
  <ion-list>
    <ion-item *ngFor = "let book of booksAvailable" lass="item item-block" item-start>
      <div class="item-inner">
        <div class="input-wrapper">
          <p>Name : {{book.title}}</p>
          <p>Author: {{book.author}}</p>
        </div>
      </div>
      <ion-button clear (click)="borrow(book)" style="margin-left: auto;">
        <span class="button-inner">Borrow</span>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
