<ion-header>
  <ion-toolbar>
    <ion-title>
      Available Books
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-searchbar type="text" debounce="500" (ionChange)="getItems($event)"></ion-searchbar>
<ion-content>
  <ion-list>
    <ion-item *ngFor = "let book of booksAvailable" lass="item item-block" item-start>
      <div class="item-inner">
        <div class="input-wrapper">
          <p>Name : {{book.title}}</p>
          <p>Author: {{book.author}}</p>
        </div>
      </div>
      <!-- <div style="margin-left: auto;" *ngIf="book.isAvailable">
        <ion-button clear (click)="borrow(book)" >
          <span class="button-inner">Borrow</span>
        </ion-button>
      </div> -->
      <div style="margin-left: auto;">
        <ion-button clear (click)="CheckAvailability(book)" >
          <span class="button-inner">CheckAvailability</span>
        </ion-button>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
